body {
    color: lightpink;
    background-color: aliceblue;
}

#start, #game-over {
    font-family: Arial, Helvetica, sans-serif;
    color: lightpink;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 250px;
    text-align: center;
}

#start a, #game-over a {
    border: 3px solid lightpink;
    color: lightpink;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    margin-left: 5px;
    font-size: 2em;
    display: inline-block;
}

#start a:hover, #game-over a:hover { background-color: lightpink; color: lightblue; }
