

h1 {
    text-align: center;
    margin-right: 20px;
    color: rgb(249, 131, 151);
}

p {
    text-align: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}

.game {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(213, 255, 252);
    margin: auto;
    overflow: hidden;
    
}
#clouds {
    width: 1000px;
    height: 500px;
    background-image: url(assets/clouds.png);
    background-size: 1000px 500px;
    position: absolute;
    animation: moveImages 5s linear infinite; 
}
@keyframes moveImages {
    0% {
        transform: translate(0, 0);
      }
     
    50% {
        transform: translate(0px, -25px); 
      }
     
    }

#mountains {
    width: 100%;
    height: 100%;
    background-image: url(assets/mountains.png);
    background-size: 1000px 500px;
    position: absolute;
    animation: moveBackground 5s linear infinite;
    
    
}
@keyframes moveBackground {
    0% {
        left: 0px;
    }
 
    100% {
        left: -1000px;
    }
    
    }
#mountains2 {
    width: 100%;
    height: 100%;
    background-image: url(assets/mountains.png);
    background-size: 1000px 500px;
    position: absolute;
    animation: moveBackground2 5s linear infinite;
    
    
}
@keyframes moveBackground2 {
    0% {
        left: 1000px;
    }

    100% {
        left: 0px;
    }
    
    }


#bunny {
    width: 200px;
    height: 200px;
    background-image: url(assets/bunny.png);
    background-size: 200px 200px;
    position: relative;
    top: 320px;
    left: 100px;
    
}

.jump {
    animation: jump 0.5s linear;
}

@keyframes jump {
    0% {
        top: 355px;
    }

    30% {
        top: 245px;
    }
    50% {
        top: 170px;
    }
    80% {
        top: 245px;
    }

    100% {
        top: 320px;
    }
}

#bush {
    width: 150px;
    height: 150px;
    background-image: url(assets/bush.png);
    background-size: 150px 150px;
    position: relative;
    top: 170px;
    left: 600px;
    
    animation: block 2s infinite linear; 
}

@keyframes block {
    0% {
        left: 2000px;
    }

    100% {
        left: -50px;
    }

}

#grass {
    width: 100%;
    height: 100%;
    background-image: url(assets/grass.png);
    background-size: 1000px 500px;
    position: absolute;
    top: 0px;
    left: -2px;
    animation: moveGrass 2s linear infinite;
    
}
@keyframes moveGrass {
    0% {
        left: 0px;
    }

    100% {
        left: -1000px;
    }
     
    }
    
#grass2 {
        width: 100%;
        height: 100%;
        background-image: url(assets/grass.png);
        background-size: 1000px 500px;
        position: absolute;
        top: 0px;
        left: -2px;
        animation: moveGrass2 2s linear infinite;
    }

@keyframes moveGrass2 {
        0% {
            left: 1000px;
        }
    
        100% {
            left: 0px;
        }

    }