h1 {
    text-align: center;
    margin-right: 20px;
    color: rgb(249, 131, 151);
}

p {
    text-align: center;
    margin-right: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
}